@font-face {
    font-family: "Roboto";
    src:url(Roboto/Roboto-Regular.ttf);
    }
*{
    font-family: "Roboto",Verdana,sans-serif;
}
body{
    background-color: #efeff0;
}
label{
    color: #696969;
}
input{
    width: 200px;
}
div{
    margin: 5px;
}
.colorAzulito{
    background-color: #b0f3f8;
}
#comentario{
    background-color: lightpink;
}
#Intro{
    height: 50px;
    text-align: center;
    align-content: center; 
    background: linear-gradient(to right, lightpink, aquamarine);
}
[min]{
    background-color: lightgoldenrodyellow;
}
select[required]{
    background-color: aquamarine;
    height: 110px;
}
input[type=text]{
    background-color: mistyrose;
}
[type=submit]{
    background-color: navy;
    color: white;
}