body {
  margin: 10px;
}

#divEsquerra,#divDreta {
  padding: 20px;
  border: 1px dashed black;
  margin: 10px 0;
  width: 30%;
}

#divEsquerra {
  float: left;
  text-align: left;
}

#divDreta {
  float: right;
  text-align: right;
}

#divCentral {
  margin: auto;
  width: 50%;
  text-align: justify;
  overflow: hidden;
  padding: 100px;
}

footer {
  background-color: #b3b3b3;
  color:  white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}